.main-hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #353642;
    z-index: 3;
}
.ring {
    margin: 0%;
    padding: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 3;
    width: 40%;
    opacity: .7;

    img {
        width: 100%;
    }    
}
.ring-one img {
    animation: rotateFirstRing 2s linear infinite;
}

.ring-two img {
    animation: rotateFirstRing 8s linear infinite;
}
@keyframes rotateFirstRing {
    from {
          transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}
@media(max-width: 900px) {

    .loading-screen {
          display: none;
    }
    .ring img {
          display: none;
    }
}
.welcome-message {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: $color1;
    margin-left: 180px;
    letter-spacing: .33em;
    line-height: 20px;

    .welcome {
        text-transform: uppercase;
    }
    .phrase {
        font-size: 20px;
        margin-top: 50px;
        letter-spacing: .45em;
    }
}
.typing {
    color: #aaa;
}
.social-media {
    position: absolute;
    top: 50%;
    right: 3.5%;
    transform: translateY((-50%));

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 20px 0;
            cursor: pointer;

            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}
