.main-hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #353642;
    z-index: 3;
}
.ring {
    margin: 0%;
    padding: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 3;
    width: 40%;
    opacity: .7;

    img {
        width: 100%;
    }    
}
.ring-one img {
    animation: rotateFirstRing 2s linear infinite;
}

.ring-two img {
    animation: rotateFirstRing 8s linear infinite;
}
@keyframes rotateFirstRing {
    from {
          transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}
@media(max-width: 900px) {

    .loading-screen {
          display: none;
    }
    .ring img {
          display: none;
    }
}
.welcome-message {
    color: $color1;
    margin-left: 150px;

    .welcome {
        font-size: 32px;
        font-weight: 600;
        line-height: 18px;
    }
    .phrase {
        font-size: 24px;
        margin-top: 50px;
    }
}
.typing {
    color: #aaa;
}
.social-media {
    position: absolute;
    top: 50%;
    right: 3.5%;
    transform: translateY((-50%));
}
.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-media ul li {
    margin: 20px 0;
    cursor: pointer;
}
.social-media img {
    height: 40px;
    width: 40px;
}