.sidebar-menu-container {
    position: fixed;
    top: 50%;
    left: 4%;
    transform: translate(-50%,-50%) rotate(-90deg);
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu-item {
    display: block;
    color: $color1;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5em;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.sidebar-menu-item:before,
.sidebar-menu-item:after {
    content: attr(data);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color2;
    color: $color1;
    overflow: hidden;
}
.sidebar-menu-item:hover:before {
    left: 8px;
    animation: glitch 2s infinite linear;
}
.sidebar-menu-item:hover:after {
    left: 4px;
    animation: glitch 1s infinite linear;
}
@keyframes glitch {
    0% { clip: rect(55px, 9999px, 56px, 0) }
    5% { clip: rect(47px, 9999px, 30px, 0) }
    10% { clip: rect(33px, 9999px, 9px, 0) }
    15% { clip: rect(35px, 9999px, 59px, 0) }
    20% { clip: rect(63px, 9999px, 98px, 0) }
    25% { clip: rect(96px, 9999px, 77px, 0) }
    30% { clip: rect(48px, 9999px, 34px, 0) }
    35% { clip: rect(50px, 9999px, 72px, 0) }
    40% { clip: rect(60px, 9999px, 81px, 0) }
    45% { clip: rect(10px, 9999px, 60px, 0) }
    50% { clip: rect(2px, 9999px, 89px, 0) }
    55% { clip: rect(23px, 9999px, 91px, 0) }
    60% { clip: rect(76px, 9999px, 30px, 0) }
    65% { clip: rect(62px, 9999px, 73px, 0) }
    70% { clip: rect(60px, 9999px, 87px, 0) }
    75% { clip: rect(60px, 9999px, 14px, 0) }
    80% { clip: rect(2px, 9999px, 87px, 0) }
    85% { clip: rect(28px, 9999px, 87px, 0) }
    90% { clip: rect(73px, 9999px, 50px, 0) }
    95% { clip: rect(79px, 9999px, 70px, 0) }
    100% { clip: rect(17px, 9999px, 79px, 0) }
}
.menu-icon {
    width: 40px;
    height: 30px;
    padding: 5px 0 0 0;
    position: absolute;
    right: 50px;
    top: 40px;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;

    .open {
        .line-one,
        .line-two {
            width: 40px;
            height: 4px;
            display: block;
            background-color: $color1;
            position: relative;
        }
        .line-two {
            width: 25px;
            margin-top: 10px;
            right: -15px;
        }
    }
    &:hover .open .line-one {
        animation: hamburger-one .6s;
    }
    &:hover .open .line-two {
        animation: hamburger-two .6s;
    }
    .close {
        margin-top: 10px;
        display: none;
    
        .line-three,
        .line-four {
            width: 30px;
            height: 3px;
            display: block;
            background-color: $color2;
            position: relative;
            margin-top: 5px;
            transform: rotate(45deg);
        }
        .line-four {
            margin-top: -3px;
            transform: rotate(-45deg);
        }
    }
    &:hover .close .line-three {
        animation: overlay-menu .6s;
    }
}

@keyframes hamburger-one {
    from {
        right: 50px;
    }
    to {
        right: 0;
    }
}
@keyframes hamburger-two {
    from { 
        right: -30px;
    }
    to {
        right: -15px;
    }
}
.overlay-menu-container {
    width: 100%;
    height: 100vh;
    background-color: $color1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

    .overlay-menu {
        width: 300px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        z-index: 1;
    }
    .overlay-menu-item {
        display: block;
        font-size: 50px;
        color: $color2;
        font-weight: 600;
        letter-spacing: 10px;
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        cursor: pointer;

        &:before,
        &:after {
            content: attr(data);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: $color1;
            color: $color2;
            overflow: hidden;
        }
        &:hover:before {
            left: 8px;
            animation: glitch 3s infinite linear;
        }
        &:hover:after {
            left: 4px;
            animation: glitch 2s infinite linear;
        }
    }
}
@keyframes overlay-menu {
    from {
        width: 0;
    }
    to {
        width: 30px;
    }
}